# ==========================================
# Backups
# ==========================================
*.backup

# ==========================================
# Vim / Neovim
# ==========================================
*.swp
*.swo
*~

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Temporary files
# ==========================================
.cache/
tmp/
